<section id='main'>
  <form action='/add' method='post'>
    
    <div class='form-item'>
      <label for='kind'>Kind</label>
      <select name='kind' id='kind'>
        <option value='Ruby'>Ruby</option>
        <option value='JavaScript'>JavaScript</option>
        <option value='CoffeeScript'>CoffeeScript</option>
        <option value='HTML'>HTML</option>
        <option value='CSS'>CSS</option>
        <option value='Other'>Other</option>
      </select>
    </div>
    
    <div class='form-item'>
      <label for='Title'>Title:</label>
      <input type='text' name='title' id='title'>
    </div>
    
    <div class='form-item'>
      <label for='Work'>Work:</label>
      <textarea id='work' name='work' rows='5'></textarea>
    </div>

    <input type='submit' name='Save Snippet'
  </form>
</section>