<section id='main'>
<% @snippets.each do |snippet| %>
  <table class='js-viewer'>
  <tr>
    <th><%= snippet.title %></th>
  </tr>
  <tr>
    <td><%= snippet.kind %></td>
  </tr>
  <tr>
      <td><pre class='prettyprint'><%= snippet.work %></pre></td>
  </tr>

  </table>
<% end %>

</section>